<h3>Create a New Post</h3>
<form id="NewPost">
    <p>
      {{input value=attrs.post.title placeholder="Title"}}
      {{input value=attrs.post.author placeholder="Author"}}
    </p>
    <p>
      {{textarea value=attrs.post.text placeholder="Content" rows="10" cols="140"}}
    </p>
    <p>
        <button {{action "createPost" attrs.post}}>Publish</button>
    </p>
</form>